<IfModule mod_rewrite.c>
  RewriteEngine On

  # Allowing loading of actual files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirect all requests to index.php
  RewriteRule ^ index.php [L]

  # Disable directory listings
  Options -Indexes
</IfModule>
