<IfModule mod_rewrite.c>
  RewriteEngine On

  # Disable directory listing
  Options -Indexes

  # Block access to app/ and docs/ directories
  RewriteRule ^(app|docs) - [F,L]

  # Block access to files starting with a '.'
  RewriteRule ^\. - [F,L]

  # Allow loading of files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all requests to index.php
  RewriteRule ^ index.php [L]
</IfModule>
