<IfModule mod_rewrite.c>
  RewriteEngine On

  # Disable directory listing
  Options -Indexes

  # Block access to app/ directory
  RewriteRule ^(app) - [F,L]

  # Block access to files starting with a '.'
  RewriteRule ^\. - [F,L]

  # Explicitly block access to .ini files
  <FilesMatch "\.(ini)$">
      Order Deny,Allow
      Deny from all
  </FilesMatch>

  # Allow loading of files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all requests to index.php
  RewriteRule ^ index.php [L]
</IfModule>
