@charset "UTF-8";

.search-container:focus-within {
  box-shadow: 0 0 0 2px #714bc9;
}

#searchBtnBorder {
  border-color: #3c4245 !important;
}

.dropdown-item.active {
  background-color: #ebebeb !important;
  color: #000 !important;
}

.dropdown-item:active {
  color: #000 !important;
}

.dropdown-item:hover {
  background-color: #ebebeb !important;
}
